* {
    margin: 0;
    padding: 0;
}
/*header*/
header {
    height: auto;
    background-color: #3B0B0B;
}
/*body start*/
body {
    background-size: 100%;
    margin: 0;
}

.frontend {
    display: flex;
    background-image: url("bg.jpg");
    color: white;
    height: 800px;
    align-items: flex-end;
}

h1 {
    padding: 100px;
    font-size: 40px;
}

h2 {
    font-size: 29px;
}

.flex-container {
    display: flex;
    font-family: 'Goblin One', cursive;
    justify-content: flex-end;

}

.flex-item {
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.flex-item:hover,
.flex-item:focus {
    background-color: darkgrey;
}

.aboutMe {
    background-color: lightgrey;
    height: 400px;
    margin: 0;
}

.item1 {
    padding: 1px 100px 50px 600px;
}

.container {
    padding: 60px;
}

.box {
    position: absolute;
}

.box1 {
    display: flex;
    margin: 100px;
    z-index: 1;
    left: 170px;
}

.portfolio {
    background-color: #F8F9FA;
    height: auto;
}

.positions {
    text-align: center;
    padding: 10px;
}

.flex-container2 {
    display: flex;
    padding: 10px 100px 10px 100px;
    justify-content: center;
    text-align: center;
}

.flashcards {
    margin: 10px;
}

.piano {
    margin: 10px;
}

.fonts {
    font-family: 'Goblin One', cursive;
    font-size: 12px;
}

.end {
    background: #3B0B0B;
    color: #F8F9FA;
    text-align: center;
    padding: 5px;
}
/*body finish*/

/*footer*/
footer {
    background-color: #F3F3FA;
}
/*popup window start*/
.open-window {
    background-color: #3B0B0B;
    color: #F8F9FA;
    border: black;
    border-radius: 7px;
    padding: 5px;
}

.window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #F8F9FA;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 2;
}

.popup_body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;


}

.popup_content {
    background-color: white;
    color: black;
    max-width: 700px;
    border-radius: 18px;
}

.popup_close {
    position: relative;
    left: 423px;
    top: 15px;

}

.popup_title {
    text-align: center;
    font-size: 40px;
}

.popup_text {
    margin: 30px 10px;
    text-align: center;
}
/*popup window close*/



